
.container{
    margin-bottom: 80px;
}
.orange-bg{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    padding: 8px 20px;
    border-radius: 8px;
    border:none;
    margin-top: 10px;
}
.price{
    color: #DE115C;
}

.carousel-item{
    padding: 20px 40px;
}