
.container{
    margin-bottom: 80px;
}
.orange-bg{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    padding: 8px 20px;
    border-radius: 8px;
    border:none;
    margin-top: 10px;
}
.price{
    color: #DE115C;
}

.carousel-item{
    padding: 20px 40px;
}


.categories h1{
    color: #fff;
    font-size: 30px;
}

.categories img{
    width: 100px;
}

.cat1, .cat2, .cat3{
    padding: 10px 20px;   
    border-radius: 10px;
}

.cat1{
    background-image: linear-gradient(to right, #edaa31 0%, #EA9600 100%);
}
.cat2{
    background-image: linear-gradient(to right, #e16dda 0%, #D060C9 100%);
}
.cat3{
    background-image: linear-gradient(to right, #4f27f7 0%, #3000F8 100%);
}